%div.feedDetail
  %p
    %b Title:
    = @feed.title
  %p
    %b Url:
    = link_to @feed.url ,@feed.url
  %p
    %b Feed url:
    = link_to @feed.feed_url ,@feed.feed_url

  %p
    %b Category:
    = link_to @category.name, @category

= render :file => 'shared/entries'