%div#entry_tile
  - @entries.each do |entry|
    %div.tile
      %div.inner{:style => 'background: url(http://api.snapito.com/desktop/7301fdd59ed49c26cda3e8c314770408a57320c7/320x240?url='+entry.url+')'}
        = link_to content_tag(:span, entry.title), entry.url, :class => 'title js_entry_link'
        %p.meta
          = link_to entry.category.name, entry.category
          |
          = link_to entry.feed.url.gsub(/^https?:\/\/(.*?)\/?$/, '\1'), entry.feed
        - if is_admin
          - if entry.clip == nil
            = link_to 'love', '/clips?entry_id='+entry.id.to_s, {:remote => true, :method => :post, :class => 'clip ss-icon'}
          - else
            = link_to 'love', '/clips/'+entry.clip.id.to_s, {:remote => true, :method => :delete, :class => 'clipped ss-icon'}
        - else
          - if entry.clip == nil
            = content_tag(:span, 'love', :class => 'clip ss-icon')
          - else
            = content_tag(:span, 'love', :class => 'clipped ss-icon')

%img.spinner#js_spinner{:src => '/loader.png', :width => "32", :height => "32"}

-#%ul#entry_list
-#  - @entries.each do |entry|
-#    %li
-#      = link_to content_tag(:span, 'next', :class => 'ss-icon')+entry.title, entry.url, :class => 'article'
-#      %p.summary= entry.summary
-#      = link_to content_tag(:span, 'action', :class => 'ss-icon')+entry.feed.url.gsub(/^https?:\/\/(.*?)\/?$/, '\1'), entry.feed.url, :class => 'site'

= paginate @entries, :window => 2, :outer_window => 2